html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

#toolbar {
  background: #f1f1f1;
  display: flex;
  gap: 10px 10px;
  flex-wrap: wrap;
  padding: 10px;
}
#toolbar a {
  height: 28px;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 28px;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  transition: all 0.2s;
}
#toolbar a:hover {
  color: #274fee;
  border-color: #274fee;
}

#univer {
  flex: 1;
  border-top: 1px solid #ececec;
}
